:root {
  --primary-color: #296d79;
  --font-size-base: 16px;
  --font-color: #ffffff;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: var(--font-size-base);
  box-sizing: border-box;
}

.header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header__logo--font-style {
  color: var(--font-color);
  font-weight: 300;
  font-size: 1.5em;
}

.navbar__menu {
  padding: 10px;
}

.navbar__menu--font-style {
  color: var(--font-color);
  text-decoration: none;
}

.blog-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-wrap: wrap;
}

.article-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 50%;
}

.article-picture {
  flex: 1 0 50%;
}

.article-description__title {
  padding: 10px;
}

.article-description__content {
  padding: 10px;
}

.article-figure__title--font-style {
  text-align: center;
  color: var(--primary-color);
  font-style: italic;
}

.post {
  flex: 1 0 70%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.post__content--font-style {
  text-align: justify;
}

.aside {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 22%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.aside-title {
  width: 100%;
  padding: 10px;
}

.picture {
  flex: 0 0 40%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px 3px 50px 3px;
  margin: 0 0 10px 15px;
}

.picture__img {
  width: 100%;
}

.picture__title--font-style {
  color: gray;
  text-align: center;
  font-style: italic;
}

.footer {
  background-color: var(--primary-color);
  padding: 20px;
}

.footer__legal--font-style {
  text-align: center;
  color: var(--font-color);
}

.picture:hover {
  background-color: rgb(197, 197, 197, 0.5);
}